<!--? ======= HEADER НАЧАЛО ======= -->
<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <img class="header__logo-image" loading="lazy" src="img/logo.svg" alt="logo">
      <span class="header__logo-text">
        Test Task
      </span>
    </div>

    <ul class="nav header__nav js-header__menu">
      <li class="nav__item header__nav-item">
        <a href="#" class="nav__link header__nav-link">About Us</a>
      </li>
      <li class="nav__item header__nav-item">
        <a href="#" class="nav__link header__nav-link">Features</a>
      </li>
      <li class="nav__item header__nav-item">
        <a href="#" class="nav__link header__nav-link">Pricing</a>
      </li>
      <li class="nav__item header__nav-item">
        <a href="#" class="nav__link header__nav-link">Product</a>
      </li>
      <li class="nav__item header__nav-item">
        <a href="#" class="nav__link header__nav-link">Contact</a>
      </li>
    </ul>

    <!--? ======= burger menu start =======  -->
    <button class="header__burger js-header__burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <!--? ======= burger menu end =======  -->

    <div class="login header__login">
      <button class="header__btn-login btn-reset">Login</button>
      <button class="header__btn-signup btn-reset">Sign Up</button>
    </div>
  </div>
</header>
<!--? ======= HEADER КОНЕЦ ======= -->