<!--? ======= HERO НАЧАЛО ======= -->
<section class="hero">
  <h1 class="title hero__title">Instantly Connect with Your Leads</h1>
  <picture>
    <source srcset="./img/group.webp" type="image/webp">
    <img class="hero__title-image" loading="lazy" src="./img/group.png" alt="Ненужная фигня">
  </picture>

  <div class="hero__card-block">
    <div class="hero__card hero__card--js">
      <div class="hero__card-header">
        <span class="hero__card-title">Basic Survival</span>

        <div class="hero__card-price-wrap">
          <span class="hero__card-currency js-currency">$</span>
          <span class="hero__card-price js-price-basic">30</span>
          <span class="hero__card-period js-period">/Months</span>
        </div>
        <div class="hero__card-text">
          Get Torque&rsquo;s basic plan to&nbsp;optimise you lead generation process.
        </div>
      </div>

      <div class="hero__card-features">Core Features</div>
      <span class="hero__card-tariff">Basic</span>

      <div class="hero__card-body">
        <ul class="hero__card-list">
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Email addresses
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Phone numbers
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Unlimited Lists
          </li>
        </ul>

        <button class="hero__card-btn btn-reset">
          Start Free Trial
        </button>
      </div>
    </div>

    <div class="hero__card hero__card--black hero__card--js">
      <div class="hero__card-header">
        <span class="hero__card-title">Mission Professional</span>
        <div class="hero__card-price-wrap">
          <span class="hero__card-currency js-currency">$</span>
          <span class="hero__card-price js-price-professional">276</span>
          <span class="hero__card-period js-period">/Months</span>
        </div>
        <div class="hero__card-text">
          Get Torque&rsquo;s basic plan to&nbsp;optimise you lead generation process.
        </div>
      </div>


      <div class="hero__card-features">Core Features</div>
      <span class="hero__card-tariff">Boost Tools</span>

      <div class="hero__card-body">
        <ul class="hero__card-list">
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Email addresses
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Phone numbers
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Unlimited Lists
          </li>
          <li class="hero__card-item hero__card-item--500">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Export contacts
          </li>
          <li class="hero__card-item hero__card-item--500">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Prospecting
          </li>
          <li class="hero__card-item hero__card-item--500">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            50MB Per File Attachment
          </li>
        </ul>

        <button class="hero__card-btn hero__card-btn--red btn-reset">
          Get Started
          <svg class="hero__card-icon-btn">
            <use xlink:href="img/sprite.svg#btnred"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="hero__card hero__card--right hero__card--js">
      <div class="hero__card-header">
        <span class="hero__card-title">Rocketship Premium</span>
        <div class="hero__card-price-wrap">
          <span class="hero__card-currency js-currency">$</span>
          <span class="hero__card-price js-price-premium">420</span>
          <span class="hero__card-period js-period">/Months</span>
        </div>
        <div class="hero__card-text">
          Get Torque&rsquo;s basic plan to&nbsp;optimise you lead generation process.
        </div>
      </div>


      <div class="hero__card-features">Core Features</div>
      <span class="hero__card-tariff">Super Fuel</span>

      <div class="hero__card-body">
        <ul class="hero__card-list">
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Email addresses
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Phone numbers
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Unlimited Lists
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Export contacts
          </li>
          <li class="hero__card-item">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Prospecting
          </li>
          <li class="hero__card-item hero__card-item--500">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            50MB Per File Attachment
          </li>
          <li class="hero__card-item hero__card-item--500">
            <svg class="hero__card-row">
              <use xlink:href="img/sprite.svg#polygon"></use>
            </svg>
            Basic analytics
          </li>
        </ul>

        <button class="hero__card-btn btn-reset">
          Start Free Trial
        </button>
      </div>
    </div>
  </div>
</section>

<!--? ======= HERO КОНЕЦ ======= -->